@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: larger;
    margin: 40px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b8eee;
    color: #ddd;
}

.container {
    width: 90%;
    max-width: 600px;
    background: #e5e5e5e6;
    padding: 20px;
    border-radius: 12px;
    margin: auto 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    text-align: center;
    margin: 5px 0;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 15px;
}

label, #cost-display {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

input[type="text"],
input[type="number"],
select {
    height: 40px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #3b8eee75;
    background-color: rgba(0, 0, 0, .04);
    color: #676767;
    font-size: 14px;
}

#qtyInput {
    min-width: 175px;
}

#sendButton, #qtyButton {
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 4px;
    background-color: #3b8eee;
    color: white;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
}

button:hover {
    background-color: #0056b3;
}

#sendButton {
    margin: 0.45em auto;
    margin-bottom: 15px;
    font-size: 1rem;
}

#qty {
    display: inline-flex;
    margin-top: 2px;
}

#qtyButton {
    display: none;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .04);
    color: #676767;
    font-size: medium;
}

.box button {
    border: none;
    border-radius: 4px;
    background-color: #3b8eee;
    color: white;
    cursor: pointer;
}

.box span {
    padding: 0 10px;
    white-space: nowrap;
    overflow: auto;
}

.box label {
    margin-bottom: 0;
    white-space: nowrap;
}

.label-display {
    display: flex;
    justify-content: space-between;
}

#section2, #section3 {
    display: none;
}

.circle {
    stroke-dasharray: 188.4;
    stroke-dashoffset: 0;
    animation: draw .5s linear forwards;
}

@media screen and (max-width: 600px) {
    label #cost-display {
        font-size: 13px;
    }

    #qtyInput {
        min-width: 180px;
    }
}

@keyframes draw {
    to {
        stroke-dashoffset: 188.4;
    }
}
